.voucher {
  &-main {
    height: 100%;
  }

  &-content {
    width: 100%;
    //overflow-x: auto;
  }

  &-header {
    min-height: 6rem;
    padding: 1rem;

    span {
      h2 {
        font-weight: bold;
        font-size: 1.5rem;
      }

      small {
        font-weight: bold;
        color: #28a745;
        font-style: italic;
      }
    }

    @media screen and (max-width: 512px) {
      flex-direction: column;
      align-items: flex-start;

      button {
        width: 100%;
        margin-top: .5rem;
      }
    }
  }
}

.expired, .unexpired {
  color: white;
  text-align: center;

  span {
    font-weight: bold;
    padding: .4rem 1rem;
    font-size: .8rem;
    border-radius: 1rem;
  }
}

.expired {
  span {
    background: red;
  }
}

.unexpired {
  span {
    background: #28a745;
  }
}
