.account {
  &-panel {
    max-width: 940px;

    .left {
      width: 43%;
    }

    .right {
      h3{
        margin: .5rem;
      }
      form {
        .form-row {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 1rem;
        }
      }
    }
  }
}
