.signin {
  &-container {
    display: flex;
    background-image: linear-gradient(235deg, #565867, #191a25);
    height: 100vh;
  }

  &-panel {
    margin: auto;
    width: 750px;
    height: 650px;
    background: white;
    border-radius: .5rem;
    display: flex;
    position: relative;

    .left {
      width: 45%;
      display: block;
      padding: .5rem;
      background: #dcdcdc;
      border-bottom-left-radius: .5rem;
      border-top-left-radius: .5rem;

      img {
        width: 100%;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        height: 100%;
      }

      @media screen and (max-width: 568px) {
        display: none;
      }
    }

    .right {
      padding: 4rem 1rem;
      width: 55%;
      display: flex;
      align-items: center;
      flex-direction: column;

      @media screen and (max-width: 568px) {
        width: 100%;
      }

      h3 {
        font-weight: 700;
        font-size: 1.9rem;
        text-align: center;
        margin: 1rem 0;
        color: #D2860D;
      }

      h4 {
        font-size: 1.25rem;
        margin: 0 0 1rem 0;
        color: #424242;
      }

      form {
        width: 100%;

        button {
          margin-top: 2rem;
          padding: .8rem;
          width: 100%;
          text-transform: uppercase;
        }
      }
    }

    @media screen and (max-width: 768px) {
      width: 550px;
    }

    @media screen and (max-width: 568px) {
      width: 350px;
      height: 600px;
    }

    .loader {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      background: black;
      border-radius: .5rem;
      font-size: 1.4rem;
      opacity: .8;
      z-index: 1000;
    }
  }
}
