<div class="select-area">
  <label for="{{label}}">{{label}}</label>
  <div style="width: 100%; position: relative">
    <div class="select-action">
      <div class="option-area" id="{{label}}">
        <div class="selected-options" *ngIf="!multiple" data-text="Select One...">
          <h4 *ngIf="items[0]">{{items[0]?.name}}</h4>
        </div>
        <div class="selected-options" *ngIf="multiple" data-text="Select Items...">
          <span *ngFor="let item of items" (click)="onItemSelected(item['id'], item['name'], 'remove')">
            <small>{{item.name}}</small>
          </span>
        </div>
        <div style="display: flex; align-items: center; justify-content: center" (click)="isShown = !isShown">
          <fa-icon [icon]="caret"></fa-icon>
        </div>
      </div>
    </div>
    <div class="select-card" *ngIf="isShown">
      <input class="text-input" type="text" placeholder="Type to Search..."
             (keyup)="onChange($any($event.currentTarget).value)">
      <ul class="select-items">
        <li class="select-item" *ngFor="let item of pagedList.items">
          <div (click)="onItemSelected(item['id'], item['name'], '')" *ngIf="item.name">{{item.name}}</div>
          <div (click)="onItemSelected(item['id'], item['firstName'] + ' ' + item['lastName'], '')"
               *ngIf="item?.['firstName'] && item?.['lastName']">{{item['firstName']}} {{item['lastName']}}</div>
        </li>
      </ul>
    </div>
  </div>
</div>
