.select {
  &-area {
    width: 100%;
    display: flex;
    flex-direction: column;

    label {
      margin: .6rem 0;
    }
  }

  &-action {
    width: 100%;

    .option-area {
      font-size: 1.1rem;
      border-radius: .3rem;
      border: 1.2px solid #636363;
      color: #212529;
      background: white;
      cursor: text;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 2rem;
      align-items: center;
      position: relative;
      gap: .5rem;

      .selected-options {
        padding: .7rem;
        color: #212529;
        overflow-x: auto;
        position: relative;

        h4 {
          font-weight: normal;
          color: #212529;
        }

        span {
          background: #636363;
          color: white;
          padding: .4rem .8rem;
          border-radius: 8px;
          font-size: .7rem;
          cursor: pointer;

          &:not(:first-child) {
            margin-left: .5rem;
          }
        }

        &::-webkit-scrollbar {
          height: 1px !important;
        }

        &::-webkit-scrollbar-thumb {
          background: red !important;
        }

        &:empty::before {
          content: attr(data-text);
        }
      }

      .ng-fa-icon {
        color: #636363;
        cursor: pointer;
        padding: .7rem;
        border-left: 1px solid #565867;
      }
    }
  }

  &-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: white;
    padding: 1rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    max-height: 15rem;
    position: absolute;
    width: 100%;
    z-index: 100;

    .text-input{
      width: 100%;
      padding: .7rem;
      margin-bottom: .5rem;
      border-radius: 8px;
      border: 1px solid #cccccc;
    }
  }

  &-items {
    max-height: 10rem;
    overflow-y: auto;
  }

  &-item {
    list-style: none;
    width: 100%;
    margin-bottom: .3rem;

    div {
      width: 100%;
      cursor: pointer;

      padding: .5rem;
      border-radius: 5px;

      &:hover {
        background: #cccccc;
      }
    }
  }
}
