<div class="category-form">
  <p style="font-size: 1rem" *ngIf="action === 'activate'">
    Are you sure you want to activate Category with name <strong>{{category?.name}}</strong>
  </p>
  <p style="font-size: 1rem" *ngIf="action === 'delete'">
    Are you sure you want to delete Category with name <strong>{{category.name}}</strong>
  </p>
  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" *ngIf="!(action === 'delete' || action === 'activate')">
    <app-text-input formControlName="name" [label]="'Category Name'"></app-text-input>
    <app-text-input formControlName="color" [label]="'Category Color'" [type]="'color'"></app-text-input>
    <ng-container>
      <app-text-input formControlName="icon" [label]="'Category Icon'" (onKeyUp)="iconChange($event)"></app-text-input>
      <ul class="icon-list" *ngIf="showOptions">
        <li *ngFor="let icon of iconTypes()" (click)="setIcon(icon.iconName)">
          <span>{{icon.iconName}}</span>
          <fa-icon [icon]="icon"></fa-icon>
        </li>
      </ul>
    </ng-container>
    <div class="form-footer" *ngIf="categoryForm.dirty && categoryForm.valid">
      <button class="btn-primary" type="submit" [disabled]="categoryForm.invalid || isSubmitting">
        Confirm Submit
      </button>
    </div>
  </form>
</div>
