<div class="home-content">
  <div class="home-header">
    <div class="card-area">
      <h2>Vouchers</h2>
      <hr>
      <div class="card-content">
        <div class="item">
          <span class="item-title">Active</span>
          <span class="item-info">20</span>
        </div>
        <div class="item">
          <span class="item-title">Expired</span>
          <span class="item-info">10</span>
        </div>
      </div>
    </div>
    <div class="card-area">
      <h2>Products</h2>
      <hr>
      <div class="card-content">
        <div class="item">
          <span class="item-title">In Stock</span>
          <span class="item-info">20</span>
        </div>
        <div class="item">
          <span class="item-title">Out of Stock</span>
          <span class="item-info">10</span>
        </div>
        <div class="item">
          <span class="item-title">Totals</span>
          <span class="item-info">30</span>
        </div>
      </div>
    </div>
    <div class="card-area">
      <h2>Promotions (Active)</h2>
      <hr>
      <div class="card-content">
        <div class="item">
          <span class="item-title">Brand</span>
          <span class="item-info">20</span>
        </div>
        <div class="item">
          <span class="item-title">Category</span>
          <span class="item-info">10</span>
        </div>
        <div class="item">
          <span class="item-title">Product</span>
          <span class="item-info">30</span>
        </div>
      </div>
    </div>
    <div class="card-area">
      <h2>Revenue</h2>
      <hr>
      <div class="card-content">
        <div class="item">
          <span class="item-title">Today</span>
          <span class="item-info">{{20 | currency}}</span>
        </div>
        <div class="item">
          <span class="item-title">This Week</span>
          <span class="item-info">{{150 | currency}}</span>
        </div>
        <div class="item">
          <span class="item-title">This Month</span>
          <span class="item-info">{{300 | currency}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
