<div class="product-detail">
  <div class="header">
    <span style="font-size: 1.2rem" *ngIf="product">
      Product <strong>{{product?.name}}</strong> Information Details
    </span>
    <span style="font-size: 1.2rem" *ngIf="!product"><strong>Add a New Product</strong></span>
  </div>
  <div class="content product-detail-content">
    <app-tab (onTabChange)="onTabChange($event)" [tabs]="tabs" [activatedTabIndex]="activatedTabIndex">
      <app-product-form [product]="product" *ngIf="activatedTabIndex === 0"></app-product-form>
      <app-product-image [product]="product" *ngIf="activatedTabIndex === 1 && product"></app-product-image>
    </app-tab>
  </div>
</div>

