<div class="product-detail">
  <div class="header" *ngIf="product">
    <span style="font-size: 1.2rem">
      Product <strong>{{product?.name}}</strong> {{index === 1 ? 'Available Images' : 'Information Details'}}
    </span>
  </div>
  <div class="content">
    <app-tab (onTabChange)="onTabChange($event)" [tabs]="product ? tabs : [tabs[0]]" [active]="index">
      <ng-container *ngIf="index === 0">
        <app-product-form [product]="product"></app-product-form>
      </ng-container>
    </app-tab>
  </div>
</div>
