<div class="nav-container">
  <div class="nav-left" [ngClass]="{'center': !expand}">
    <div class="nav-logo" routerLink="/" *ngIf="expand"><img src="/assets/logo.svg" alt="logo"></div>
    <div class="nav-menu-icon" (click)="collapseEvent()">
      <fa-icon [icon]="menuIcon" class="fa-xl"></fa-icon>
    </div>
  </div>
  <div class="nav-center"></div>
  <div class="nav-right">
    <div class="action-icon">
      <span>{{(user$ | async)?.name}}</span>
      <fa-icon [icon]="accountIcon" class="fa-xl" (click)="isShown = !isShown"></fa-icon>
    </div>
    <div class="account-action" *ngIf="isShown">
      <div class="action-info">
        <fa-icon [icon]="user" class="fa-xl"></fa-icon>
        <span>
            <p style="font-weight: bold">{{(user$ | async)?.name}}</p>
            <p style="color: #007bff;text-decoration: underline;font-size: .7rem">{{(user$ | async)?.email}}</p>
          </span>
      </div>
      <hr>
      <p class="sign-out" (click)="signOutUser()"><fa-icon [icon]="signOut" class="fa-xl"></fa-icon>SignOut</p>
    </div>
  </div>
</div>
