<div class="products-main">
  <div class="header">
    <h2>Products</h2>
    <button type="button" class="btn-success" routerLink="/products/add">Add Product</button>
  </div>
  <div class="content products-content">
    <app-table-header [selectLabel]="'Product Status'" (statusValue)="onStatusChange($event)" (search)="search($event)"
                      (pageSize)="fetchItemsPerPage($event)" [placeholder]="'Product Name, Brand, Category, Owner...'">
    </app-table-header>
    <div class="table-wrapper">
      <table>
        <thead>
        <tr>
          <th>#</th>
          <th style="width: 15rem">Name</th>
          <th style="text-align: center">Image</th>
          <th style="width: 8rem; text-align: center">In Stock</th>
          <th style="text-align: center">Brand</th>
          <th style="width: 10rem; text-align: center">Initial Price</th>
          <th style="width: 10rem; text-align: center">Final Price</th>
          <th style="text-align: center; width: 5rem">Discount</th>
          <th>Owner</th>
          <th>Created On</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of pagedList?.items; let i = index">
          <td>{{i + 1}}</td>
          <td>{{product.name}}</td>
          <td style="text-align: center">
            <div class="table-image" *ngIf="product.displayImage">
              <img [src]="product.displayImage" [alt]="product.name" class="item-image">
            </div>
            <button class="btn-warn add-image" [routerLink]="'/products/'+product.id" [queryParams]="{tab: 0}"
                    *ngIf="!product.displayImage">
              Add Image
            </button>
          </td>
          <td style="text-align: center">{{product.inStock}}</td>
          <td style="text-align: center">{{product.brand}}</td>
          <td style="text-align: center">{{product.initialPrice | currency}}</td>
          <td style="text-align: center">{{product.finalPrice | currency}}</td>
          <td style="text-align: center">{{product.discount}}</td>
          <td>{{product.owner}}</td>
          <td>{{product.createdAt | date: 'MMM d, y HH:mm'}}</td>
          <td class="action-btn" *ngIf="!product.active">
            <button type="button" class="btn-primary" (click)="activateProduct(product, 'activate')">
              Activate
            </button>
          </td>
          <td class="action-btn" *ngIf="product.active">
            <button type="button" class="btn-primary" [routerLink]="'/products/'+product.id" [queryParams]="{tab: 0}">
              Edit
            </button>
            <button type="button" class="btn-error" (click)="deleteProduct(product, 'delete')">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <app-table-pager [pageSize]="pagedList.metaData.pageSize" [totalCount]="pagedList.metaData.totalCount"
                     [pageNo]="pagedList.metaData.pageNo" *ngIf="pagedList?.items" (pageChanged)="onPageChange($event)"
                     [totalPages]="pagedList.metaData.totalPages">
    </app-table-pager>
  </div>
  <app-dialog [extras]="{actionArea: true, title: dialogTitle, loading: loading}" *ngIf="dialogService.showDialog"
              (clearDialog)="closeDialog($event)" (confirmAction)="confirmAction()">
    <p style="font-size: 1rem" *ngIf="action === 'delete'">
      Are you sure you want to delete Product with name <strong>{{selectedProduct.name}}</strong>
    </p>
  </app-dialog>
</div>
