<div class="roles-main">
  <div class="header">
    <span>
      <small>**Click on the Add Role Button to add a Role</small>
    </span>
    <button type="button" class="btn-success" (click)="openDialog(null)">Add Role</button>
  </div>
  <div class="content roles-content">
    <app-table-header [selectLabel]="'Role Status'" (statusValue)="onStatusChange($event)" [resetStatus]="resetStatus"
                      (search)="performSearch($event)" (pageSize)="fetchItemsPerPage($event)">
    </app-table-header>
    <div class="table-wrapper">
      <table>
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th style="width: 15rem">Unique Name</th>
          <th style="width: 30rem">Description</th>
          <th>Created On</th>
          <th class="actions">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let role of pagedList?.items; let i = index">
          <td>{{i + 1}}</td>
          <td>{{role.name}}</td>
          <td>{{role.uniqueName}}</td>
          <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{{role.description}}</td>
          <td>{{role.createdAt | date: 'MMM d, y HH:mm'}}</td>
          <td class="action-btn" *ngIf="!role.active">
            <button type="button" class="btn-primary" (click)="activateRole(role)">Activate Role</button>
          </td>
          <td class="action-btn" *ngIf="role.active">
            <button type="button" class="btn-primary" (click)="openDialog(role)">Edit</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <app-table-pager [pageSize]="pagedList.metaData.pageSize" [totalCount]="pagedList.metaData.totalCount"
                     [pageNo]="pagedList.metaData.pageNo" *ngIf="pagedList?.items" (pageChanged)="onPageChange($event)"
                     [totalPages]="pagedList.metaData.totalPages">
    </app-table-pager>
  </div>
  <app-dialog [dialogTitle]="dialogTitle" [showActionArea]="showActionArea" *ngIf="dialogService.showDialog"
              (clearDialog)="closeDialog($event)" (confirmAction)="confirmAction($event)" [action]="action">
    <app-role-form [role]="role" (reloadRoles)="reloadRoles()" [action]="action"></app-role-form>
  </app-dialog>
</div>
