<div class="voucher-main">
  <div class="header">
    <span>
      <small>**Click on the Add Voucher Button to add a Voucher</small>
    </span>
    <button type="button" class="btn-success" (click)="openDialog(null)">Add Voucher</button>
  </div>
  <div class="content voucher-content">
    <app-table-header [selectLabel]="'Voucher Status'" (statusValue)="onStatusChange($event)"
                      [resetStatus]="resetStatus" (search)="performSearch($event)" [resetSearch]="resetSearch"
                      (pageSize)="fetchItemsPerPage($event)">
    </app-table-header>
    <div class="table-wrapper">
      <table>
        <thead>
        <tr>
          <th style="width: .5rem; max-width: .5rem">#</th>
          <th>Voucher</th>
          <th>Discount (%)</th>
          <th>Usage Count</th>
          <th>Max Use</th>
          <th style="text-align: center">Expired</th>
          <th style="min-width: 12rem">Expires On</th>
          <th>Created On</th>
          <th class="actions">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let voucher of pagedList?.items; let i = index">
          <td>{{i + 1}}</td>
          <td>{{voucher.voucher}}</td>
          <td>{{voucher.discount}}</td>
          <td>{{voucher.useCount}}</td>
          <td>{{voucher.maxUse}}</td>
          <td [class]="voucher.expired ? 'expired' : 'unexpired'" style="text-transform: uppercase">
            <small>{{voucher.expired}}</small>
          </td>
          <td>{{voucher.expiresOn | date: 'MMM d, y HH:mm'}}</td>
          <td>{{voucher.createdAt | date: 'MMM d, y HH:mm'}}</td>
          <td class="action-btn" *ngIf="!voucher.active">
            <button type="button" class="btn-primary" (click)="activateVoucher(voucher)">Activate Voucher</button>
          </td>
          <td class="action-btn" *ngIf="voucher.active">
            <button type="button" class="btn-primary" (click)="openDialog(voucher)">Edit</button>
            <button type="button" class="btn-error" (click)="deleteVoucher(voucher.voucher)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <app-table-pager [pageSize]="pagedList.metaData.pageSize" [totalCount]="pagedList.metaData.totalCount"
                     [pageNo]="pagedList.metaData.pageNo" *ngIf="pagedList?.items"
                     [totalPages]="pagedList.metaData.totalPages" (pageChanged)="onPageChange($event)">
    </app-table-pager>
  </div>
  <app-dialog [dialogTitle]="dialogTitle" [showActionArea]="showActionArea" *ngIf="dialogService.showDialog"
              (clearDialog)="closeDialog($event)" (confirmAction)="confirmAction()">
    <app-voucher-form [voucher]="itemToUpdate" (reloadVouchers)="reloadVouchers()" [voucherToDelete]="voucherToDelete"
                      [voucherToActivate]="voucherToActivate">
    </app-voucher-form>
  </app-dialog>
</div>
