.voucher {
  &-main {
    height: 100%;
  }

  &-content {
    width: 100%;
  }
}

.expired, .unexpired {
  color: white;
  text-align: center;

  small {
    font-weight: bold;
    padding: .2rem .8rem;
    font-size: .6rem;
    border-radius: 1rem;
  }
}

.expired {
  small {
    background: red;
  }
}

.unexpired {
  small {
    background: #28a745;
  }
}
