.pager {
  &-content {
    padding: 1rem 0;
    border: 1px solid #cccccc;
    border-radius: .2rem;
    align-items: center;

    .pager-buttons {
      width: 100% !important;
      margin: auto;
      padding: 0 .5rem;

      button {
        margin: 0 !important;
        background: #565867;
        border-radius: 4px !important;
        color: white;

        &:disabled {
          cursor: not-allowed;
          background: #cccccc;
          color: black;
        }
      }

      @media screen and (max-width: 558px){
        font-size: .5rem;
        display: flex;
        flex-direction: column;

        button{
          font-size: .5rem!important;
        }
      }
    }

    span {
      padding: 1rem;
      font-weight: bold;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
