<div style="width: 100%">
  <p style="font-size: 1rem" *ngIf="action === 'activate'">
    Are you sure you want to activate Brand with name <strong>{{brand?.name}}</strong>
  </p>
  <p style="font-size: 1rem" *ngIf="action === 'delete'">
    Are you sure you want to delete Brand with name <strong>{{brand.name}}</strong>
  </p>
  <form [formGroup]="brandForm" (ngSubmit)="onSubmit()" *ngIf="!(action === 'delete' || action === 'activate')">
    <app-text-input formControlName="name" [label]="'Brand Name'"></app-text-input>
    <div class="form-footer" *ngIf="brandForm.dirty && brandForm.valid">
      <button class="btn-primary" type="submit" [disabled]="brandForm.invalid || isSubmitting">Confirm Submit</button>
    </div>
  </form>
</div>
