.product-images {
  width: 100%;
  height: 100%;

  input {
    display: none;
  }

  .image-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    width: 100%;

    .display-image, .showcase-images {
      border: 2px solid #cccccc;
      border-radius: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      width: 100%;
      height: 95%;
      font-weight: bold;
      font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

      p {
        text-align: center !important;
        font-weight: normal;
        color: #28a745;
        font-style: italic;
        padding: 1rem;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .image-area {
      width: 100%;
      position: relative;

      .wrapper-preview {
        position: relative;
        width: 100%;

        img {
          height: 15rem;
          width: 100%;
          object-fit: cover;
          border-radius: 10px;
          border: 1px solid #cccccc;
        }

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          grid-template-columns: 1fr;
          transform: translate(-50%, -50%);
          justify-items: center;
          display: none;
        }

        &:hover {
          img {
            opacity: .5;
          }

          span {
            display: grid;
            cursor: pointer;
            margin: auto;
            opacity: 1;
            border-radius: 5rem;
            font-size: .8rem;
            font-weight: bold;
            user-select: none;
          }
        }
      }

      .image-label {
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;

        small {
          background: orange;
          color: white;
          padding: .1rem .6rem;
          text-transform: capitalize;
          border-top-right-radius: 10px;
          border-bottom-left-radius: 10px;
          font-weight: bold;
        }
      }
    }

    @media screen and (max-width: 1088px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media screen and (max-width: 968px) {
      grid-template-columns: repeat(3, 1fr);

      .image-area {
        .wrapper-preview {
          img {
            height: 12rem;
          }
        }
      }
    }

    @media screen and (max-width: 568px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 438px) {
      grid-template-columns: 1fr;

      .display-image, .showcase-images {
        height: 12rem;
      }
    }
  }
}

.update-area {
  display: grid;
  gap: 1rem;
  align-items: center;
  width: 100%;

  .prev-image, .new-image {
    height: 15rem;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: .7rem;
      border: 1px solid #cccccc;
    }
  }
}

.previews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  .image-preview {
    height: 10rem;
  }
}
