.member-form-content {
  width: 100%;
  position: relative;

  .content-area {
    form {
      .btn-area {
        margin-top: 1rem;
        display: flex;

        .btn-primary {
          margin-left: auto;
        }
      }
    }

    .form-controls {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;

      @media screen and (max-width: 968px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (max-width: 478px) {
        grid-template-columns: 1fr;
      }
    }

    hr {
      margin: 2rem 0;
    }
  }

  .form-footer {
    width: 60% !important;
    margin: auto;
  }

  .section-area {
    background: #565867;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    margin: 1rem 0;
    font-weight: bold;
    text-transform: uppercase;
  }

  @media screen and (max-width: 1198px) {
    grid-template-columns: 1fr;
  }
}

.password-area {
  display: flex;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;

    div {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      @media screen and (max-width: 478px) {
        grid-template-columns: 1fr;
      }
    }

    .btn-primary {
      margin: 1rem 0 1rem auto;
    }
  }
}
