.images {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 5rem 1rem;

  .info-area {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-weight: bold;
      font-size: 1rem;
      background: red;
      padding: .7rem 2rem;
      cursor: pointer;
      border: 1px solid #cccccc;
      border-radius: 5rem;
      color: white;
    }
  }
}

.preview {
  width: 100%;

  .single-preview-area {
    min-height: 20rem;

    .image-preview {
      height: 20rem;
    }
  }

  .multi-preview-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    .image-preview {
      height: 15rem;
    }

    @media screen and (max-width: 568px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
