@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', 'sans-serif', 'Arial';
  font-size: 14px;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

a {
  text-decoration: none;
  color: white;
}

* {
  -webkit-transition: margin-left .2s ease-in-out;
  -moz-transition: margin-left .2s ease-in-out;
  -o-transition: margin-left .2s ease-in-out;
  transition: margin-left .2s ease-in-out;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 5px;
}

button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .4rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  text-overflow: ellipsis;
  //color: #fff;
  overflow: hidden;
  min-width: 4.5rem !important;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &:disabled {
    cursor: not-allowed !important;
    background: #636363;
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.btn-error {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
}

.btn-warn {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 10rem;
  min-height: 10rem;
  border-radius: .3rem;
  font-size: 1.1rem;
  padding: .8rem;
  border: 1px solid #CED4DA;
  color: #636363;
  margin-bottom: .3rem;

  &:focus {
    outline: none;
  }
}

table {
  width: 100%;
}

tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #565867;
  color: white;
  font-weight: bold;
  border-top-right-radius: .3rem;
  border-top-left-radius: .3rem;
}

td, th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 1rem;

  &:not(:first-child) {
    min-width: 9rem;
  }

  &:first-child {
    width: 4rem !important;
    max-width: 4rem !important;
    min-width: 4rem !important;
  }

  &:last-child, &:nth-child(2), &:nth-last-child(2) {
    min-width: 14rem;
    width: 14rem;
    max-width: 14rem;
  }

  &:last-child, &:nth-last-child(2){
    text-align: center;
  }

  &:last-child{
    text-align: center;
  }
}

.header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-radius: .5rem;
  margin-bottom: 1rem;
  position: relative;
  min-height: 6rem;
  padding: 1rem;

  span {
    h2 {
      font-weight: bold;
      font-size: 1.5rem;
    }

    small {
      font-weight: bold;
      color: #28a745;
      font-style: italic;
    }
  }

  button {
    border-radius: 2rem;
  }

  @media screen and (max-width: 512px) {
    flex-direction: column;
    align-items: flex-start;

    button {
      width: 100%;
      margin-top: .5rem;
    }
  }
}

.content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: .5rem;
}

.actions {
  text-align: center;
}

.action-btn {
  text-align: center;

  button {
    font-size: .8rem !important;
  }

  button:first-child {
    margin-right: 1rem;
  }
}

.text-error {
  margin-top: .3rem;
  font-size: .7rem;
  color: red;
  font-weight: bold;
}

.form-footer {
  padding-top: 1.5rem;
  padding-bottom: .7rem;

  button {
    width: 100%;
  }
}

.table-wrapper {
  overflow-x: auto;
  width: 100%;
}

.status-content {
  display: flex;
  flex-direction: column;
  margin-top: .6rem;

  label {
    margin: .6rem 0;
  }

  select {
    padding: 1rem;
    border-radius: .3rem;
  }
}

.type-content {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    margin: .6rem 0;
  }

  select {
    padding: 1rem;
    border-radius: .3rem;
    width: 100%;
  }
}

.ql-toolbar.ql-snow {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid #212121!important;
  border-bottom: none!important;
  padding: .6rem!important;
}
